<ul class="list-group">
  <li class="list-group-item">ユーザ名：<%= @user.name %></li>
  <li class="list-group-item">メールアドレス：<%= @user.email %></li>
  <li class="list-group-item">登録日：<%= @user.created_at %></li>
</ul>