<div class="row">
  <h2>
    <ul class="list-unstyled">
      <li>ユーザ名：<%= @user.name %></li>
      <li>メールアドレス：<%= @user.email %></li>
      <li>登録日：<%= @user.created_at %></li>
    </ul>
  </h2>
</div>